{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}teaflask - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-sm-12">
    {{ wtf.quick_form(form, form_type='horizontal', horizontal_columns=('md', 4, 8)) }}
    <br>
    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
</div>
{% endblock %}
