{% extends 'base.html' %}
{% import "main/_macros.html" as macros with context %}

{% block body_attribs %} class="home"{% endblock %}

{% block page_content %}
	<section style="margin-top: 100px;">
		<div class="centered">
		{% if pot.drinkable %}
			<h1 class="monitor-large">Tea is ready</h1>
			<h2 class="monitor-sub">A fine pot of <a href="{{ url_for('main.tea', tea_id=pot.tea.id) }}">{{ pot.tea.name }}</a></h2>
			<p class="brewer">{{ pot.brewer.get_name() }}</p>
			<a href=" {{ url_for('main.drink', pot_id=pot.id) }}" class="btn btn-primary">Finsh this pot.</a>
		{% else %}
			<h1 class="monitor-large">No tea is ready</h1>
		{% endif %}
		</div>
	</section>

	<section style="margin-top: 300px;">
		<h2>Recent pots</h2>
		{% for p in pots %}
			{{ macros.render_pot(p)}}
		{% endfor %}
	</section>
	
{% endblock %}