{% extends 'base.html' %}
{% import "main/_macros.html" as macros %}

{% block body_attribs %} class="home"{% endblock %}

{% block page_content %}
	<section>
		<div class="centered">
		{% if pot.drinkable %}
			<h1 class="monitor-large">Tea is ready</h1>
			<h2 class="monitor-sub">A fine pot of <a href="{{ url_for('main.tea', tea_id=pot.tea.id) }}">{{ pot.tea.name }}</a></h2>
			<p class="brewer">{{ pot.brewer.get_name() }}</p>
			<a href=" {{ url_for('main.drink') }}" class="btn btn-primary">Finsh this pot.</a>
		{% else %}
			<h1 class="monitor-large">No tea is ready</h1>
		{% endif %}
		</div>
	</section>

	<section>
		{% for p in pots %}
			<div class="row">
				<div class="panel chalkboard">
					<div class="panel-body">
						<div class="col-sm-4">
						{% if p.tea.image_url %}
							<img src="{{ p.tea.image_url }}" alt="" class="fit-image"></div>
						{% else %}
							<img src="{{ url_for('static', filename='missing_teapot.png') }}" alt="" class="fit-image"></div>
						{% endif %}
						<div class="col-sm-8">
							<h3><a href="{{ url_for('main.tea', tea_id=p.tea.id) }}">{{ p.tea.name }}</a></h3>
							<hr>
							<p>Brewed {{ moment(p.brewed_at).fromNow() }} by <a href="{{ url_for('main.user', username=p.brewer.username)}}">{{ p.brewer.get_name() }}</a>.</p>
							{% if not p.drinkable %}
								<p>Finished {{ moment(p.drank_at).fromNow() }}</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</section>
	
{% endblock %}